@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root {
	--error-red: hsl(0, 100%, 66%);
	--White: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: 0;
}
img,
svg {
	max-width: 100%;
	height: auto;
}
body {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
	background-image: url(images/bg-main-desktop.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main > *,
footer > * {
	max-width: 86em;
	padding: 2em;
	margin: 0 auto;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	transform: scale(0.85);
}

/* Card iMAGE section */

.card-back,
.card-front {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 220px;
	max-width: 420px;
	border-radius: 10px;
	padding: 20px 30px;
	color: var(--White);
}
.card-front {
	background-image: url(images/bg-card-front.png);
	margin-bottom: 30px;
}
.card-logo {
	margin-bottom: 50px;
}
.card-number {
	width: 100%;
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 12px;
	margin-bottom: 20px;
}
.card-info {
	display: flex;
	justify-content: space-between;
}

.card-back {
	background-image: url(images/bg-card-back.png);
	padding: 98px;
	margin-left: 100px;
}
.card-cvc {
	margin-left: 215px;
}

/* FORM PART */
.form {
	width: 100%;
	padding: 20px 50px;
}
form {
	width: 80%;
}
form > * {
	margin-bottom: 30px;
}
form div {
	display: flex;
	flex-direction: column;
}

.date-date,
.date-details {
	flex-direction: row;
	gap: 10px;
}
label {
	text-transform: uppercase;
	color: var(--very-dark-violet);
	font-size: 14px;
	margin-bottom: 10px;
	letter-spacing: 1.2px;
}
div + label {
	margin-top: 20px;
}
input {
	border: 1px solid var(--light-grayish-violet);
	border-radius: 10px;
	padding: 15px 20px;
	font: 18px;
	font-weight: bold;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}
.date-date div {
	width: 50%;
}
.date {
	width: 50%;
}
.cvc {
	width: 50%;
	margin-left: 15px;
}

input:focus {
	border-color: Linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
input::placeholder {
	color: var(--dark-grayish-violet);
}
button {
	font-family: inherit;
	width: 100%;
	padding: 15px;
	color: var(--White);
	background-color: var(--very-dark-violet);
	border-radius: 10px;
	font-size: 18px;
	border: none;
}
input:hover,
button:hover {
	cursor: pointer;
}
/* COMPLETED */
.completed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 400px;
	gap: 30px;
}
.completed p {
	color: var(--dark-grayish-violet);
}
.completed h2 {
	letter-spacing: 2px;
	color: var(--very-dark-violet);
	font-weight: 500;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.hidden {
	display: none;
}

@media only screen and (max-width: 600px) {
	body {
		background-image: url(images/bg-main-mobile.png);
		background-position: top;
		display: block;
		padding-top: 50px;
	}
	.container {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		transform: scale(1);
	}
	.illustration {
		width: 100%;

		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.card-back,
	.card-front {
		width: 400px;
		margin: 0;
	}
	.card-front {
		z-index: 1;
		margin-top: -60px;
		margin-right: 80px;
	}
	.form {
		padding: 0;
	}
	form {
		width: 100%;
	}
	.completed {
		min-width: 100%;
	}
	.date-details {
		width: 100%;
	}
}
